<div class="card-footer p-2 text-font">
    <div class="d-flex justify-content-between align-items-center">
      <div >
        <span class="text-muted">تاريخ الإنشاء</span>
        <br>
        <span class="fw-medium">01/12/2024</span> ● <span class="fw-medium">04:30 م</span>
      </div>
      <div class="border-end mx-3"></div>
      <div class="d-flex align-items-center">
        <div class="text-end me-2">
          <span class="text-muted">تم الإنشاء بواسطة</span>
          <br>
          <span class="fw-bold">عبدالرحيم إسماعيل ناصف</span>
        </div>
        <img src="/assets/imgs/ai-generated-7957457_1280.png" class="rounded-circle" width="40" height="40" alt="User">
      </div>
    </div>
  </div>
   