<div class="container-fluid mt-3 p-3 rounded-3 border shadow-sm bg-white text-font">
  <div class="row mt-3">
    <div class="col-12 d-flex align-items-center">
      
      <div class="dropdown">
        <button class="btn p-0 m-0 dropdown-toggle" type="button" id="optionsMenu" data-bs-toggle="dropdown" aria-expanded="false">
          <i class="fas fa-ellipsis-h mb-5 ms-2 text-secondary fs-5"></i>
        </button>
        <ul class="dropdown-menu p-2" aria-labelledby="optionsMenu">
          <li>
            <a class="dropdown-item d-flex align-items-center" href="#">
              <i class="fas fa-edit me-2"></i> تعديل الرقم
            </a>
          </li>
          <li>
            <a class="dropdown-item text-danger d-flex align-items-center" href="#">
              <i class="fas fa-eye-slash me-2"></i> إلغاء التعيين
            </a>
          </li>
        </ul>
      </div>
      
      <button class="btn btn-success ms-auto mb-3">قيد الاستخدام</button>
      <p class="fw-bold number-btn mx-3">12345647810</p>
    </div>
  </div>

  <div class="row mt-3 text-center">
    <div class="col-md-3">
      <p class="text-muted fw-bold mb-1">عدد الامدادات</p>
      <p class="fw-bold">09</p>
      <p class="text-muted">الرصيد الحالي للرقم ككل</p>
      <p><span>5000</span> ج.م</p>
    </div>

    <div class="col-md-3">
      <p class="text-muted mb-1">العميل الحالي</p>
      <p class="fw-bold">...الشركة الألمانية للإبادة <img class="flag-img" [src]="imgSrc2" width="20"></p>
      <p class="text-muted">الرصيد المستخدم للعميل الحالي</p>
      <p><span>5000</span> ج.م</p>
    </div>

    <div class="col-md-3">
      <p class="text-muted mb-1">الدولة</p>
      <p class="fw-bold">المملكة الأردنية الهاشمية <img class="flag-img" [src]="imgSrc" width="20"></p>
      <p class="text-muted">الرصيد الحالي</p>
      <p><span>5000</span> ج.م</p>
    </div>

    <div class="col-md-3">
      <p class="text-muted mb-1">اسم البروتوكول</p>
      <p class="fw-bold">فودافون مصر</p>
      <p class="text-muted mb-1">تاريخ اخر شحنة</p>
      <p class="mt-3">29/12/2024</p>
    </div>
  </div>
</div>
