/* You can add global styles to this file, and also import other style files */
@font-face {
    font-family: "Neo Sans Arabic";
    src: url("assets/fonts/NeoSansArabic.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
  }
  
  body {
    font-family: "Neo Sans Arabic", sans-serif;
  }
  
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

::-webkit-scrollbar {
  display: none;
}
